*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}
.container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-linkedin{
	background: #3b5998;
	border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-google{
	background: #e52a23;
}
.container-bar .fa-github{
	background: #747473;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}  /* hasta aca es la barra de contacto*/

.eye{
    position: relative; left: 0; top: 0;
    position:absolute;
    height:200px;
    width:200px;
    top: 40px;
    left : 40px;
    z-index: 1;
}

.programing{
    position: absolute;
    right:200px; /* largo de la img*/
    left: 200px;
    bottom:100px;
    top:100px;
    z-index: -1;
}

.imgRedonda{
    top: 200px;
    width:200px;
    height:200px;
    border-radius:150px;
    border:5px solid rgb(0, 0, 0);
    z-index: 1;
}
h1{
    
    font: bold 300% monospace;
    color: #000000 ;
	text-align: center;
    position: absolute;
    right:400px; /* largo de la img*/
    left: 400px;
    bottom:100px;
    top:250px;
    z-index: 1;
}

p{
    position: absolute;
    text-align: center;
    right:400px; /* largo de la img*/
    left: 400px;
    bottom:100px;
    top:300px;
    z-index: 1;
}

.boton {
    position: absolute;
    border: 1px solid #e97598; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #e97598; /*color botón*/
    color: #c26969; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'monospace', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    top: 600px;
    right: 600px;
    z-index: 1;
}  /* hasta aca es todo lo correspondiente a la primera pag*/


/* aca empieza la implementacion de lo quer seria las tarjetas de proyect
*/

.foto1 {
	 position: absolute;
	 padding: 0px; 
	 top: 10px;
	 margin: 250px; /*distancia entre la imagen y el margen derech*/
	 border: 2px solid black; 
	 float: left; width: 250px;  /* width es que tan grande es la imagen*/
	 z-index: 1;
	}  /*PADDING ES EL LARGO MIENTRAS QUE MARGIN ES*/

.h2 {
	position:absolute;
	z-index: 2;
	font-family: monospace;
}